include ../jess/_jess
include lib/_lib
doctype html
html
	+head('Эппл Shop')
body.page
	+header
		.wrapper
			+logo('img/header-logo.png','/public','header-logo')
			+header-contacts('+7 (921)',' 322 12 32','manager@company.com')

	nav.main-menu
	+footer
		.wrapper
