include ../jess/_jess
include lib/_lib
doctype html
html
	+head('Эппл Shop')
body.page
	+header
		.wrapper
			+logo('img/logo-header.png','/','logo-header')
			+contacts
	nav.main-menu
	+footer
		.wrapper
