mixin sidebar(menu_items,menu_active)
	.sidebar
		ul.sidebar-menu
			each menu_item in menu_items
				li(class='sidebar-menu__item' class=((menu_item === menu_active) ? ' sidebar-menu__item--active' : ''))
					a(class='sidebar-menu__item-link sidebar-menu__item-link' class=((menu_item === menu_active) ? ' sidebar-menu__item-link--active' : '') href='') #{menu_item}
