mixin social
	.social
		.social-apps
			a(class='appstore social-apps__icon' href='')
			a(class='googleplay social-apps__icon' href='')
		.social-nets
			a(class='vk social-nets__icon' href='')
			a(class='facebook social-nets__icon' href='')
			a(class='twitter social-nets__icon' href='')