mixin footer-links
	.footer-links
		ul.footer-links-list
			li.footer-links-item
				a(class='footer-links-link footer-links-link--active' href='') О магазине
			li.footer-links-item
				a(class='footer-links-link' href='') О нас
			li.footer-links-item
				a(class='footer-links-link' href='') Наши цены
			li.footer-links-item
				a(class='footer-links-link' href='') Наши скидки
			li.footer-links-item
				a(class='footer-links-link' href='') Акции
		ul.footer-links-list
			li.footer-links-item
				a(class='footer-links-link footer-links-link--active' href='') Каталог
			li.footer-links-item
				a(class='footer-links-link' href='') Смартфоны
			li.footer-links-item
				a(class='footer-links-link' href='') Планшеты
			li.footer-links-item
				a(class='footer-links-link' href='') Компьютеры
			li.footer-links-item
				a(class='footer-links-link' href='') Аксессуары
		ul.footer-links-list
			li.footer-links-item.footer-links-item--active
				a(class='footer-links-link footer-links-link--active' href='') Контакты
			li.footer-links-item
				a(class='footer-links-link' href='') Телефоны
			li.footer-links-item
				a(class='footer-links-link' href='') Адреса
			li.footer-links-item
				a(class='footer-links-link' href='') Карта проезда
			li.footer-links-item
				a(class='footer-links-link' href='') Обратная связь